<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cdt.testsrunner.TestsRunner">
      <runner
            class="org.eclipse.cdt.testsrunner.internal.catch_test.CatchTestsRunnerProvider"
            description="Tests runner for a test module based on Catch Test"
            id="org.eclipse.cdt.testsrunner.catch_test"
            name="Catch Tests Runner">
      </runner>
   </extension>

</plugin>
