<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cdt.testsrunner.TestsRunner">
      <runner
            class="org.eclipse.cdt.testsrunner.internal.catch_test.CatchTestsRunnerProvider"
            description="%CatchTestsRunner.description"
            id="org.eclipse.cdt.testsrunner.catch_test"
            name="%CatchTestsRunner.name">
      </runner>
   </extension>

</plugin>
